{% extends "base.html" %}
{% block content %}
{% style "/css/charts.css" %}
{% script "/assets/jquery/jquery.min.js" %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawChart);

var ajaxResult=[];

function googleChartsIsLoaded() 
{
    if ((typeof google === 'undefined') || (typeof google.visualization === 'undefined')) {
       return false;
    }
     return true;
}

function drawChart() {
  if( !googleChartsIsLoaded() || ajaxResult.length == 0){
    return;
  }
  console.log( "drawChart() called");

  var table = new google.visualization.DataTable();
  table.addColumn('number', 'date');
  table.addColumn('number', 'btc');

  rows = ajaxResult[ajaxResult.length - 1];
//  console.log(rows);
  console.log(rows[0]);
  table.addRows(
      rows
  );

  var options = {
    hAxis: {
      title: 'Timestamp'
    },
    vAxis: {
      title: 'Closing price'
    },
    colors: ['#a52714', '#097138'],
    crosshair: {
      color: '#000',
      trigger: 'selection'
    }
  };

  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

  chart.draw(table, options);
  chart.setSelection([{row: 38, column: 1}]);
}


var closesPath = "/backend/api/closes";

$.get( closesPath, function( data ) {
  ajaxResult.push(JSON.parse(data));
  console.log( "ajax returned" );
  drawChart();
});

$(window).resize(function(){
  drawChart();
});
</script>

<div id="historical-data"></div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 chart" id="chart_div"></div>
  <div class="col-md-2"></div>
</div>

{% endblock %}
